# Application
PORT=
NODE_ENV=

# Database (PostgreSQL)
POSTGRES_PASSWORD=
DATABASE_URL=
DIRECT_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# OTP
OTP_EXPIRES_MINUTES=
OTP_MAX_ATTEMPTS=

# SMTP Gmail
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
